/*Изначальные стили*/
.App {
  text-align: center;
  background-image: url(./img/background.png);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

a {
  display: ruby-text;
  color: #010101;
}
h1 {
  margin: 0;
}
h3 {
  margin: 0;
  font-family: "SFPro";
  font-size: 24px;
  font-weight: 500;
  color: #95CA5A;
  text-align: start;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*УБРАТЬ КОМПОНЕНТ*/
.hide {
  display: none !important
}

/*Стили проекта*/

@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SF-Pro-Display-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TTForsTrial';
  src: url('./fonts/TT\ Fors\ Trial\ DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TTForsTrial';
  src: url('./fonts/TT\ Fors\ Trial\ Light\ Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
/*Стили логотипа*/
.logo {
  width: auto;
  height: auto;
  margin-right: 290px;
}

/*Стили хедера*/
.Header {
  margin-top: 64px;
  margin-left: 96px;
  margin-right: 96px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/*Стили кнопки*/
.Button {
  font-family: 'SFPro', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 28px;
}
.account-btn {
  background-color: #CCFF95;
  padding: 14.5px 56px;
  border-radius: 50px;
  width: min-content;
  text-wrap: nowrap;
}
.editBtn {
  border: 3px solid #010101;
  padding: 14px 40px;
  border-radius: 50px;
  box-sizing: border-box;
}

/*Заголовок страницы*/
.PageTitle{
  font-size: 60px;
  line-height: 74px;
  text-align: left;
  font-family: 'TTForsTrial';
  font-weight: 600;
}

/*Заголовок страницы (курсив)*/
.PageTitle-italic{
  font-family: 'TTForsTrial';
  font-weight: 200;
}

/*Обычный текст*/
.text-info{
  font-family: 'SFPro';
  font-weight: 400;
  font-size: 32px;
  text-align: start;
}

/*Стили поля ввода*/
.Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.Input label {
  font-family: 'SFPro';
  font-size: 24px;
  font-weight: 500;
  color: #95CA5A;
  margin-left: 6px;
}
.Input input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #B6B6B6;
  font-family: 'SFPro';
  font-size: 18px;
  font-weight: 200;
  color: #444444;
  line-height: 32px;

}
.Input input::placeholder {
  text-indent: 5px;
}

/*Стили футера*/
.Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 48px;
  margin-left: 96px;
  margin-right: 96px;
  align-items: flex-end;
  gap: 10px;
}
.Footer Button {
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.footer-btn1 {
  padding: 49.5px 64px;
  background-color: #CCFF95;
}
.footer-btn2 {
  padding: 22px 70px;
  border: 4px solid #444444;
  height: 89px;
}
.footer-btn3 {
  padding: 20px 48px;
  background-color: #C7C7C7;
  height: 89px;
}
.footer-btn4 {
  padding: 54px 82px;
  background-color: #CCFF95;
}

/*Стили страницы*/
.page-container, 
.page-container-column {
  margin-left: 152px;
  margin-right: 88px;
  display: flex;
  justify-content: space-between;
  gap: 132px;
  height: fit-content;
}
.page-container-column {
  flex-direction: column;
  gap: 58px;
  margin-bottom: 60px;
}

/*Стили формы*/
.Form {
  background: #FFFFFF;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 41px 42px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: 'SFPro';
  font-weight: 500;
  font-size: 32px;
  margin: 0;
  margin-bottom: 32px;
}
.Form input {
  width: 100%;
  margin-bottom: 38px;
}
.Form div {
  display: flex;
  justify-content: center;
}
.Form div > Button {
  font-size: 20px;
  color: #77A248;
}
.Form > Button {
  align-self: center;
}
.login {
  margin-right: 196px;
}
.login .fields-container{
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.registration .fields-container {
  display: grid;
  width: 767px;
  column-gap: 45px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.Form > .submit-container{
  display: inline;
}
.Form > .submit-container > input{
  width: 18px;
  height: 18px; 
  box-sizing: border-box;
}
.Form > .submit-container > label{
  font-size: 20px;
  color: #737373;
  line-height: 24px;
}

/*Стили полей*/
.Field {
  display: flex;
  flex-direction: column;
}
.Field label {
  font-size: 24px;
  color: #95CA5A;
  font-weight: 500;
}
.Field p {
  font-size: 32px;
  color: #000000;
  font-weight: 400;
}

/*Стиль блока ученика*/
.student-wrapper, 
.taskInfo-wrapper {
  padding: 29px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.4);
  border-radius: 15px;
}
.student-wrapper span,
.taskInfo-wrapper span {
  font-family: "SFPro";
  font-size: 32px;
  color: #000000;
  font-weight: 500;
}
.student-wrapper .editBtn,
.taskInfo-wrapper .editBtn {
  background-color: #FFFFFF;
}
.info-wrapper {
  display: flex;
  gap: 120px;
}
.buttons-wrapper {
  display: flex;
  gap: 40px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.accountTeacher > .page-container {
  display: block;
}

.info-container {
  display: flex;
  margin-bottom: 46px;
  justify-content: space-between;
}

.info-container-left {
  display: flex;
  gap: 49px;
}

.profile-container-interface {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
}

.page-container p{
  font-size: 32px;
  font-family: "SFPro";
  font-weight: 400;
  text-align: start;
}
.info-container > p{
  font-size: 40px;
  font-family: "TTForsTrial";
  font-weight: 200;
  text-align: start;
}

/*Стиль плашки для учителя*/
.SectionButton {
  display: flex;
  width: 326px;
  height: 127px;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 13px;
  padding-left: 16px;
}

.teachers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
  margin-top: 25px;
}

.page-container-fix {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Form .addInfo {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.Form > .addInfo > p {
  font-family: "SFPro";
  font-size: 20px;
  color: #010101;
}

.regBtn {
  font-family: "SFPro";
  font-size: 20px;
  color: #77A248;
}

.students-list,
.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Стили поля с выбором*/
.Select {
  border: 3px solid #000000;
  border-radius: 50px;
  padding: 15px 33px;
  font-family: "SFPro";
  font-size: 28px;
  font-weight: 500;
  appearance: none;
  overflow: hidden;
  background: url('../src/img/select-arrow.png') no-repeat right;
}

/*Стили поиска*/
.Search {
  border: 3px solid #000000;
  border-radius: 50px;
  padding: 15px 82px;
  font-family: "SFPro";
  font-size: 28px;
  font-weight: 500;
  background: url('../src/img/search.png') no-repeat left;
}

.Search::placeholder {
  color: #010101;
}

.search-container {
  display: grid;
  column-gap: 82px;
  grid-template-columns: 1fr 1fr;
  margin-right: 215px;
}

/*Стили задания*/
.Task {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.Task > h4 {
  font-family: "SFPro";
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.Task > p {
  font-family: "SFPro";
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 31px;
}
.Task > img {
  width:min-content;
  margin-bottom: 30px;
}
.task-interface-container {
  display: flex;
  gap: 36px;
  align-items: center;
}
.task-interface-container > span{
  font-family: "SFPro";
  font-size: 28px;
  font-weight: 500;
}

.base-tasks-list {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.notfoundTitle {
  font-family: 'TTForsTrial';
  font-weight: 600;
  font-size: 60px;
}
.variant-interface-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/*Стили кнопки вариант*/
.Variant {
  padding: 26px 92px;
  font-family: "SFPro"; 
  font-size: 32px;
  font-weight: 500;
  border: #000000 4px solid;
  border-radius: 20px;
}

.base-variants-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
}

.task-constructor {
  background-color:rgba(217, 217, 217, 0.4);
  border-radius: 15px;
  padding: 18px 32px 56px;
}

.task-constructor > div > span,
.task-constructor > span, 
.task-constructor > p,
.task-constructor > div > div > div > span{
  font-family: "SFPro";
  font-size: 36px;
  font-weight: 700;
  text-align: start;
}

.simple-select {
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-bottom: 2px solid #010101;
  border-radius: 0px;
  padding: 14px 6px;
  background: url('../src/img/simple-search.png') no-repeat right;
  min-width: 320px;
}

.task-constructor > div > input,
.task-constructor > p > input,
.task-constructor > div > span > input,
.variant-constructor-first-step > input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #000000;
  font-family: "SFPro";
  font-size: 36px;
  font-weight: 700;
}

.task-constructor-header, 
.task-constructor-image-title {
  display: flex;
  justify-content: space-between;
}
.task-constructor-header > span > input, .variant-constructor-first-step > input {
  width: 32px;
}
.task-constructor-search {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
.task-constructor-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.task-constructor-description-wrapper {
  display: flex;
  gap: 24px;
}
.task-constructor-description-wrapper > button{
  border: none;
  background-color: transparent;
  font-family: "SFPro";
  font-size: 24px;
  margin-bottom: 16px;
}
.task-constructor-description > textarea,
.task-constructor-answer-text-wrapper > textarea {
  position: inherit;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  font-family: "SFPro";
  color: #010101;
  padding: 31px 28px 17px;
  min-width: 1000px;
  min-height: 340px;
}
.task-constructor-image {
  display: flex;
  flex-direction: column;
}
.task-constructor-image > div > button {
  border: none;
  background-color: transparent;
  color: #BAFD71;
  font-size: 56px;
}
.task-constructor-image-wrapper {
  background-color: #FFFFFF;
  border-radius: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-constructor-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  position: relative;
  margin-bottom: 28px;
}
.task-constructor-answer {
  margin-top: 14px;
}

.task-constructor-answer-variants-wrapper {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.task-constructor-answer-variant > label {
  font-family: "SFPro";
  font-size: 18px;
  color: #010101;
  font-weight: 300;
}
.task-constructor-answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.task-constructor-answer > Select{
  margin-bottom: 24px;
}
.task-constructor-answer-text-wrapper > textarea {
  width: 100%;
  min-height: 115px;
}
.task-constructor-answer-table-wrapper > span {
  font-family: "SFPro";
  font-size: 18px;
  font-weight: 300;
}
.task-constructor-answer-table-wrapper > span > input {
  font-family: "SFPro";
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 18px;
}
#row-span {
  margin-right: 40px;
}
.task-constructor-answer-table {
  margin-top: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.task-constructor-answer-table > textarea {
  border-radius: 15px;
  border: none;
  height: 46px; 
}
.variant-constructor-first-step > Button{
  padding: 14px 24px;
}
.variant-constructor-first-step > p {
  font-family: "SFPro";
  font-size: 40px;
  font-weight: 500;
}
.variant-constructor-first-step {
  display: flex;
  gap: 20px;
  align-items: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-overlay input{
  border: none;
  border-bottom: 2px #000000 solid;
  font-family: 'SFPro';
  font-family: 'SFPro';
  font-size: 18px;
  font-weight: 200;
  color: #444444;
  line-height: 32px;
  margin-left: 5px;
  width: 50%;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 26px 16px 53px 32px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 45%;
}
.popup > div > p {
  font-size: 36px;
  font-family: "SFPro";
  font-weight: 700;
  margin: 0;
}
.popup > Select {
  width: 80%;
  margin-bottom: 26px;
}
.popup > Button {
  margin-top: 28px;
}
.cross-btn {
  background-image: url(./img/cross.png);
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}
.title-wrapper {
  display: flex;
  margin-bottom: 54px;
  justify-content: space-between;
  align-items: center;
}

/*Тариф*/
.rate {
  padding: 37px 37px 41px;
  border: 4px #000000 solid;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 25%;
}
.rate-wrapper{
  display: flex;
  flex-direction: row;
  gap: 32px;
  min-height: 712px;
  margin-bottom: 126px;
  justify-content: center;
}
.rate-name{
  font-size: 40px;
  font-family: "TTForsTrial";
  font-weight: 600;
}
.rate-description{
  font-size: 24px;
  font-family: "SFPro";
  font-weight: 400;
  margin-bottom: 33px;
}
.func-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  text-align: start;
  margin-bottom: 6px;
  align-items: center;
}
.func-wrapper > label{
  font-size: 28px;
  font-family: "SFPro";
  font-weight: 400;
}
.price {
  font-size: 76px;
  font-family: "TTForsTrial";
  font-weight: 600;
}
.price-period {
  font-size: 26px;
  font-family: "SFPro";
  font-weight: 400;
}
.price-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 34px;
  margin-bottom: 21px;
  border-bottom: #000000 2px solid;
}
.rate > a > Button {
  position: absolute;
  bottom: 41px;
}
.check-img {
  height: min-content;
}

/*Стили главной страницы*/
.MainPage > .page-container-column {
  gap: 0;
}

.hero-wrapper {
  display: flex;
  padding-left: 56px;
  padding-right: 56px;
}
.hero-wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero-wrapper-left > .PageTitle {
  margin-bottom: 32px;
  width: 110%;
}
.hero-wrapper-left > p {
  margin-bottom: 32px;
  width: 95%;
}
.buttons-wrapper {
  display: flex;
  margin-bottom: 84px;
  padding-left: 56px;
  padding-right: 56px;
}
.exam-simulator > p{
  font-family: "TTForsTrial";
  font-size: 40px;
  font-weight: 600;
}
.exam-simulator > span{
  font-family: "SFPro";
  font-size: 24px;
  font-weight: 400;
  text-align: start;
}
.exam-simulator {
  padding: 28px 32px 28px;
  border: 4px solid #010101;
  border-radius: 22px;
  background-image: url(./img/arrow-main.png);
  background-repeat: no-repeat;
  background-position: right 18px top 18px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 18px;
}
.buttons-wrapper > Button {
  background-image: url(./img/arrow-main-2.png);
  background-repeat: no-repeat ;
  background-position:  right 36px top 18px;
  width: 25%;
  padding-left: 20px;
}

.rates-block-wrapper > .PageTitle {
  text-align: center;
  margin-bottom: 12px;
}
.rates-block-wrapper > p {
  font-family: "SFPro";
  text-align: center;
  width: 50%;
  font-size: 32px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 56px;
}
.for-students-wrapper > div > p {
  font-family: "SFPro";
  font-size: 32px;
  font-weight: 400;
  text-align: start;
  margin-bottom: 16px;
}
.for-students-wrapper > div {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.for-students-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 142px;
}
.for-students-wrapper > img {
  position: absolute;
  margin-left: 900px;
}
.for-students-wrapper > div > div > Button {
  margin-top: 32px;
}
.for-students-wrapper > div > div {
  display: flex;
  flex-direction: column;
}

.add-student-wrapper{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 60px;
}
.add-student-wrapper .Input {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}
.add-student-wrapper .Input input {
  width: 100%;
}
.add-student-wrapper .Button {
  width: min-content;
}

.account-btn:active {
  background-color: #617C44;
  color: #ffffff;
}
.account-btn:hover {
  background-color: #559411;
  color: #fff;
}

.editBtn:active {
  background-color: #CCFF95;
  border: none;
}
.editBtn:hover {
  border-color: #617C44;
}

.page-container-column > a {
  width:fit-content;
}

.variant-base-container > div > form{
  display: flex;
  flex-direction: column;
}

.variant-base-container > div > form > .Button{
  align-self: flex-start;
  margin-top: 20px;
}

.future-page {
  font-size: 36px;
}

.navigation > a > .Button:hover {
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.4));
}

.Variant:hover {
  background-color: #CCFF95;
}

.Variant:active {
  background-color: #617C44;
}

.footer-btn1:hover {
  opacity: 0.6;
}

.footer-btn3:hover {
  opacity: 0.6;
}

.footer-btn4:hover {
  opacity: 0.6;
}

.alert-popup {
  position: fixed;
  width: 20%;
  height: 10%;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  justify-content: center;
  font-size: 20px;
  border-radius: 15px;
  padding: 0px 30px;
  animation: fadeOut 5s forwards;
}

.alert-popup.correct {
  background-color: rgba(102, 196, 2, 0.8);
}
.alert-popup.incorrect {
  background-color: rgba(196, 73, 2, 0.842);
  color: #ffffff;
}
.alert-popup.medium {
  background-color: rgba(0, 0, 0, 0.226);
}
.DataChanger {
  display: flex;
  align-items: center;
}
.DataChanger span{
  font-size: 28px;
  margin-left: 17px;
  margin-right: 17px;
  font-weight: 600;
}

.Calendar{
  display: flex;
  margin-bottom: 15px;
  margin-top: 32px;
}
.Calendar-item{
  padding: 29px 110px 20px 30px;
  background-color:#D7D7D7;
  width: 239px;
  box-sizing: border-box;
}
.Calendar-item > div {
  width: min-content;
}
.calendar-day {
  color: #737373;
  font-weight: 600;
  font-size: 31px;
}
.calendar-time{
  font-size: 50px;
  font-weight: 700;
  margin-right: 10px;
}

.lessonPlane-status {
  color: #737373;
  font-size: 14.62px;
}
.lessonPlane-info {
  margin-bottom: 5px;
}
.lessonPlane-time {
  font-size: 21.21px;
  font-weight: 600;
  color: #95CA5A;
}
.lessonPlane-subject, .lessonPlane-lessonName {
  font-size: 21.21px;
  text-align: start;
}
.lessonPlane-lessonStudent {
  font-size: 21.21px;
  text-align: start;
  color: #737373;
  width: 100%;
  margin-top: 5px;
}
.LessonPlan, .LessonPlanT {
  display: flex;
  flex-direction: column;
  width: 209px;
  margin-left: 14px;
  margin-right: 16.43px;
  align-items: flex-start;
  margin-bottom: 40px;
}
.lessonPlan-btn {
  width: 70%;
  font-size: 13.17px;
  background-color:#CCFF95;
  padding: 6.5px 19px;
  border-radius: 23px;
  margin-top: 10px;
}

.lessons-planners {
  display: flex;
}
.lessons-planners-item {
  width: 239px;
}
.lessonPlane-info {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.canceled-status {
  color: #FF9595;
}

.timetable-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LessonPlanT .lessonPlane-lessonName{
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.lesson-description, .lesson-add {
  width: 28%;
  position: absolute;
  right: 0;
  top: 20%;
  background-image: url(../src/img/lesson-desc-bg.png);
  background-size: cover;
  padding: 29px 29px 52px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #BAFD71;
  border-radius: 20px;
}
.lesson-desc-subject, .lesson-add-subject {
  font-size: 21px;
  font-weight: 600;
}
.lesson-desc-name, .lesson-add-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
  width: 85%;
  text-align: start;
}
.lesson-desc-text, .lesson-add-text {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  width: 80%;
  overflow-wrap: break-word;
  margin-bottom: 16px;
}
.lesson-desc-title, .lesson-add-title {
  color: #95CA5A;
  font-size: 24px;
  font-weight: 600;
  text-align: start;
  margin-top: 32px;
  margin-bottom: 12px;
}
.lesson-desc-interface, .lesson-add-interface {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.lesson-add-interface div {
  display: flex;
  align-items: center;
}
.lesson-desc-close-btn, .lesson-desc-edit-btn,
.lesson-add-close-btn, .lesson-add-edit-btn, .lesson-delete-btn  {
  background-color: transparent;
  border: none;
  padding: 0px;
}
.lesson-desc-edit-btn, .lesson-add-edit-btn, .lesson-delete-btn {
  margin-right: 10px;
}
.lesson-desc-info-text, .lesson-add-info-text, .lesson-delete-btn {
  font-size: 21px;
}
.time-info, .people-info, .repeat-info, .subject-info, .color-info, .cost-info {
  display: flex;
  margin-bottom: 13px;
}
.time-info img, .people-info img, .repeat-info img, .subject-info img, .color-info img, .cost-info img {
  margin-right: 16px;
}
.lesson-desc-info-time, .lesson-add-info-time{
  font-size: 21px;
  margin-left: 48px;
}
.lesson-description .editBtn,
.lesson-add .editBtn {
  font-size: 14px;
  padding: 7px 20px;
  border: 2px #000000 solid;
  width: min-content;
  text-wrap: nowrap;
}
.lesson-desc-hw, .lesson-add-hw {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.lesson-desc-input-comment, .lesson-add-input-comment {
  background-color: #FFFFFF;
  border: 1.5px solid #000000;
  width: 80%;
  height: 20%;
  padding: 14px 16px 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.lesson-desc-input-comment input, .lesson-add-input-comment input{
  color:#000000;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  margin-bottom: 8px;
  width: 100%;
}
.lesson-desc-input-comment button, .lesson-add-input-comment button {
  background-color: transparent;
  border: none;
  align-self: flex-end;
}
.lesson-add {
  width: 40%;
}
.saveBtn {
  font-size: 16.5px;
  padding: 8px 23.5px;
  margin-right: 16px;
}
.lesson-add-item .Select {
  border: none;
  font-size: 21px;
  color: #444444;
  font-weight: 400;
  padding: 0px;
  padding-right: 80px;
  width: max-content;
}
.lesson-add-error div {
  font-size: 18px;
  color: #FF6868;
  text-align: start;
}
.lesson-add-error {
  display: flex;
}
.lesson-add-item img {
  width: 27px;
  height: 27px;
}
.time-info, .lesson-add-error {
  display: flex;
  align-items: center
}
.errorBtn {
  font-size: 16px;
  color: #010101;
  padding: 8px 23px;
  background-color: #FF9595;
  border-radius: 28.36px;
  align-self: flex-end;
}
.lesson-add-footer {
  display: flex;
  flex-direction: column;
}
.change-time, .canceled-lesson {
  display: flex;
  flex-direction: column;
}
.canceled-btn {
  background-color: #FF9595;
  align-self: center;
}
.check-btn {
  align-self: center;
}

.FormSettings h2{
  margin-bottom: 48px;
}

.FormSettings div .Select {
  border: none;
  border-bottom: 1px solid #444444;
  border-radius: 0px;
}
.select-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.select-container span {
  font-size: 24px;
  color: #95CA5A;
  font-weight: 600;
}
.settings {
  color: #444444;
  padding-left: 0px;
  font-size: 20px;
  font-weight: 400;
}
.FormSettings .buttons-container {
  display: flex;
}

.SelectedPeople {
  border-radius: 33px;
  background-color: #E1FFC0;
  color: #444444;
  width: fit-content;
  padding: 2px 7px;
  padding-left: 12px;
  align-items: center;
}
.SelectedPeople p {
  font-size: 14px;
  margin-right: 9px;
}
.SelectedPeople button {
  border: none;
  background-color: transparent;
  margin-bottom: 2px;
}
.FormSettings .selectedPeople-container {
  margin-bottom: 41px;
  display: flex;
  justify-content: flex-start;
}

.buttons-container .edit-btn {
  color:#000000;
  font-size: 28px;
  margin-right: 8px;
  border: 2px #000000 solid;
  border-radius: 50px;
  padding: 12px 40px;
}
.buttons-container .account-btn {
  color:#000000;
  font-size: 28px;
}

.FinanceReport .DataChanger button {
  background-color: transparent;
  border: none;
}

.SubTitle {
  font-size: 28px;
  font-weight: 500;
}

.FinanceLessonCard {
  background-color: #FFFFFF;
  border: 1px #737373 solid;
  border-radius: 12px;
  padding: 15px 15px;
  width: 18%;
}
.FinanceLessonCard .fin-date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.FinanceLessonCard .fin-date-time p {
  color: #95CA5A;
  font-size: 21.21px;
  font-weight: 700;
}
.FinanceLessonCard p {
  font-size: 21.21px;
}
.FinanceLessonCard .fin-student {
  color: #737373;
  margin-top: 5px;
}
.FinanceLessonCard .account-btn {
  font-size: 13px;
  padding: 6.5px 18px;
  margin-top: 12px;
}
.FinanceLessonCard .fin-theme {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.payed-lessons-container, .unpayed-lessons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}

.slick-slider {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.slick-slide div {
  outline: none;
}

.slick-slide img {
  width: 100%;
  height: auto;
}
.FinanceReport .slick-list {
  margin-right: 10px;
  margin-left: 60px;
}
.slick-slide .FinanceLessonCard {
  width: 239px !important;
}
.FinSlider {
  margin-top: 20px;
  margin-bottom: 40px;
}

.fin-states-container {
  padding: 30px 33px 29px 22px;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 12px;
  height: min-content;

}
.fin-states-container p{
  font-size: 32px;
  font-weight: 400;
}
.fin-states-container .fin-states-benefit{
  color: #95CA5A;
  font-weight: 500;
  margin-bottom: 20px;
}
.fin-states-container .fin-states-title {
  font-size: 21px;
  font-weight: 700;
}
.fin-states-container Button {
  font-size: 13px;
  padding: 6.5px 18px;
  font-weight: 500;
}
.fin-states-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date-select {
  font-size: 28px;
  font-family: "SFPro";
  text-align: start;
  margin: 10px;
}
.date-select-input {
  border: 1px solid #000000;
  margin-bottom: 10px;
  color: #000000;
}

.finance-popup {
  display: flex;
  flex-direction: column;
}
.finance-popup .Button{
  margin: 20px auto;
}

.lesson-info-popup .lesson-info-popup-subtitle-container p {
  font-size: 24px;
  font-weight: 400;
  text-align: start;
  text-wrap: nowrap;
}
.lesson-info-popup .lesson-info-popup-subtitle-container .lesson-info-popup-subtitle {
  color: #95CA5A;
  font-size: 20px;
  font-weight: 500;
}
.lesson-info-popup-subtitle-container {
  margin-bottom: 20px;
}

.lesson-info-popup {
  width: min-content;
}
.lesson-info-popup-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  margin-right: 80px;
}

.popup-price-container .popup-price-title{
  font-weight: 500;
  font-size: 32px;
  color: #95CA5A;
}
.popup-price-container .popup-price-sum{
  font-weight: 400;
  font-size: 32px;
}
.popup-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80px;
  }

.FinanceReportDetailed .AppChart {
  margin-top: 90px;
}

.fin-detailed-container p{
  font-size: 21.66px;
  text-wrap: nowrap;
}
.fin-detailed-container-elem {
  display: flex;
  flex-direction: row;
  gap: 84px;
  justify-content: space-between;
  margin-bottom: 16.12px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}